{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if title %}
      <title>{{ title }}</title>
    {% else %}
    <title>LTOs</title>
    {% endif %}
  </head>
  <body>
    <div id=":1lo" class="ii gt adP adO">
        <div id=":1h5" class="a3s aXjCH m15757d3f4e53ff3a"><u></u>
      
          <div style="background:#e3e5e7">
            <div>
              <div class="m_-4325811371517037407mktEditable">
                
                {% comment %} Header {% endcomment %}
                <div style="background-color:#e3e5e7">                 
                  <div style="margin:0 auto;max-width:600px;background:#222228">
                    <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#fff" align="center" border="0">
                      <tbody>
                        <tr>
                          <td style="text-align:center;vertical-align:top;font-size:0px;padding:40px 0px 0px 0px">
                            <div aria-labelledby="mj-column-per-80" class="m_-4325811371517037407mj-column-per-80" style="vertical-align:top;display:inline-block;font-size:13px;text-align:left;width:100%">
                              <table role="presentation" cellpadding="0" cellspacing="0" style="vertical-align:top" width="100%" border="0">
                                <tbody>
                                  <tr>
                                    <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-top:30px" align="center">
                                      <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px" align="center" border="0">
                                        <tbody>
                                          <tr>
                                            <td style="width:140px">
                                                <a href="ltobrandingandmarketing.com" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://ltobrandingandmarketing.com">
                                                <img alt="LTO logo" title="LTO" width="150" height="auto" src="https://ltobrandingandmarketing.com/logo.png" style="border:none;display:block;outline:none;text-decoration:none;width:100%;height:auto" class="CToWUd">
                                            </a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>               
    
                  {% block content %}
            
                  {% endblock %}

      
                  <div style="margin:0 auto;max-width:600px;background:#fafafa">
                    <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#fafafa" align="center" border="0">
                      <tbody>
                        <tr>
                          <td style="text-align:center;vertical-align:top;font-size:0px;padding:20px 0px">
                            <div aria-labelledby="mj-column-per-80" class="m_-4325811371517037407mj-column-per-80" style="vertical-align:top;display:inline-block;font-size:13px;text-align:left;width:100%">
                              <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                <tbody>
                                  <tr>
                                    <td style="word-break:break-word;font-size:0px;padding:30px 30px 0px 30px" align="center">
                                      <div style="color:#212121;font-family:'Avenir Next',Avenir,sans-serif;font-size:18px;font-weight:500;line-height:27px">
                                        As always, we're here to help.<br> 
                                        {% comment %} Join the <a style="color:#0a84ae;text-decoration:none" href="" target="_blank" data-saferedirecturl="">Forum</a> or visit our <a style="color:#0a84ae;text-decoration:none" href="" target="_blank" data-saferedirecturl="">Support Center</a>. {% endcomment %}
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="word-break:break-word;font-size:0px;padding:10px 25px" align="center">
                                      <div style="color:#222228;font-family:'Avenir Next',Avenir,sans-serif;font-size:16px;line-height:30px">The LTO Team</div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
      
                  <div style="margin:0 auto;max-width:600px;background:#fafafa">
                    <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#fafafa" align="center" border="0">
                      <tbody>
                        <tr>
                          <td style="text-align:center;vertical-align:top;font-size:0px;padding:0px 0px 30px 0px">
                            <div aria-labelledby="mj-column-per-100" class="m_-4325811371517037407mj-column-per-100" style="vertical-align:top;display:inline-block;font-size:13px;text-align:left;width:100%">
                              <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                <tbody>
                                  <tr>
                                    <td style="word-break:break-word;font-size:0px;padding:0px" align="center">
                                      <div style="color:#777;font-family:'Avenir Next',Avenir,sans-serif;font-size:13px;line-height:30px">
                                        <a style="padding:0 8px;color:#777777;text-decoration:none" href="https://ltobrandingandmarketing.com" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://go.auth0.com/VmXP000Zv10W200Vq6ndMg0&amp;source=gmail&amp;ust=1479396388094000&amp;usg=AFQjCNF3lffJWvzatv9c-1Kha6fHmJZZZw">
                                        Terms of Service
                                       </a> 
                                    <a style="padding:0 8px;color:#777777;text-decoration:none" href="" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://ltobrandingandmarketing.com">
                                        Privacy
                                    </a> 
                                    <a style="padding:0 8px;color:#777777;text-decoration:none" href="https://ltobrandingandmarketing.com/admin" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://ltobrandingandmarketing.com">
                                        Login
                                    </a> 
                                    <a style="padding:0 8px" href="" target="_blank" data-saferedirecturl=""><img style="display:inline-block" src="https://ci4.googleusercontent.com/proxy/cfOCyKlzGq6saWDFJx3KUJ7L4cfwzW0DB0PCnW8OiH3FR87D2xILoyALOWEopuoPQRLr40xCRq4csWwoDd8SPmpXoMHOPg=s0-d-e1-ft#https://cdn.auth0.com/blog/newsletter/twitter.png" alt="auth0" width="15px" class="CToWUd"></a></div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
      
                  <div style="margin:0 auto;max-width:600px;background:white">
                    <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:white" align="center" border="0">
                      <tbody>
                        <tr>
                          <td style="text-align:center;vertical-align:top;font-size:0px;padding:20px 0px">
                            <div aria-labelledby="mj-column-per-100" class="m_-4325811371517037407mj-column-per-100" style="vertical-align:top;display:inline-block;font-size:13px;text-align:left;width:100%">
                              <table role="presentation" cellpadding="0" cellspacing="0" style="vertical-align:top" width="100%" border="0">
                                <tbody>
                                  <tr>
                                    <td style="word-break:break-word;font-size:0px;padding:0px 20px 0px 20px" align="center">
                                      <div style="color:#222228;font-family:'Avenir Next',Avenir,sans-serif;font-size:13px;line-height:20px">
                                        This email was sent by <a href="ltobrandingandmarketing.com" target="_blank">ltobrandingandmarketing.com</a>. 
                                       
                                        <br> <br> 
                                        <span style="color:#777777">LTO Inc. · Marketing and Branding Agency · 51 Temple Close, West Thamesmead · London · UK</span></div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
      
            <img src="https://ci3.googleusercontent.com/proxy/Mwo2kGUFI1aygIfCtc6zRGO5cegJhEbQ7R7mo7fS_y_xKmim1gbv6w4gfrcan--O2QEFlYE8uXa4tksF6k-xF40SeqWSJUUKnWu37mQQV-9F92-B2x4f9OPfIEZwbGWdJTKMCWseh-_lr3qbtrTpnaiFDrAlp1UjNH7IVz_CBSdDSlX_L-aS8ETkfySJmQ=s0-d-e1-ft#https://go.auth0.com/trk?t=1&amp;mid=NzEyLVZYVy0xNTg6ODM3OjI0NTE6NzQ2ODoxOjIwNzQ6NzoxNTE5NzU3OmRlbGRlckByaWVzdGVyLmNvbQ%3D%3D" width="1" height="1" style="display:none!important" alt="" class="CToWUd">
            <div class="yj6qo"></div>
            <div class="adL">
            </div>
          </div>
          <div class="adL">
          </div>
        </div>
      </div>

  </body>
  </html>